<!DOCTYPE html>
<html lang="" ng-app="crime-data">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crime Data</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body>
    <div class="container" ng-controller="CrimeController as crimeCtrl" style="margin-top: 12px;">
        <div class="well well-sm clearfix" style="background-color: #5C77E9;">
            <h1 style="text-align: center;">Crime Data</h1>
            <p style="text-align: center;">Enter a city name to find crime data</p>
            <!-- /.col-lg-6 -->
            <!-- /.row -->
            <div class="col-md-12">
                <form ng-submit="crimeCtrl.callCrimeController(city)">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter City" ng-model="city">
                        <span class="input-group-btn">
				        <button class="btn btn-danger" type="button" ng-click="crimeCtrl.callCrimeController(city)">Go!</button>
				    </span>
                    </div>
                </form>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <div class="row" style="margin-top: 24px;">
            <div class="col-sm-4" ng-repeat="crimeInfo in crimeCtrl.crimeData.crimes">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-style="{'background-color': crimeCtrl.colors[crimeInfo.type]}" style="text-align: center;">
                        <span>
                          <b style="color:white;""> {{crimeInfo.type}} </b>
                        </span>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        {{crimeInfo.date}}
                        <br> Address: {{crimeInfo.address}}
                        <br> <a href="{{crimeInfo.link}}">More Details! </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/core/crimemap.factory.js"></script>
    <script src="app/core/geocode.factory.js"></script>
    <script src="app/coordinates/coordinates.controller.js"></script>
</body>

</html>
