body { 
  background: url(http://i.giphy.com/3oEjHYiYc60KHkYKEo.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.well {
	opacity: .7;
}


h1 {
	font-family: 'Bungee';
	font-size: 80px;
}

p {
	font-size: 40px;
}

panel-heading {
	text-decoration-color: white;
}